<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="$(arg robot_name)">

    <xacro:arg name="robot_name" default="aeroops" />

    <xacro:include filename="$(find aeroops_description)/urdf/materials.xacro" />
    <xacro:include filename="$(find aeroops_description)/urdf/inertial_macros.xacro" />
    <xacro:include filename="$(find aeroops_description)/urdf/rotors.xacro" />
    <xacro:include filename="$(find aeroops_description)/urdf/sensors.xacro" />

    <link name="base_link">
        <visual>
            <geometry>
                <box size="0.32 0.22 0.08" />
            </geometry>
            <material name="aeroops_dark" />
        </visual>

        <collision>
            <geometry>
                <box size="0.32 0.22 0.08" />
            </geometry>
        </collision>

        <xacro:box_inertial mass="1.2" x="0.32" y="0.22" z="0.08" />
    </link>

    <xacro:rotor name="front_left" x="0.28" y="0.28" direction="ccw" />
    <xacro:rotor name="front_right" x="0.28" y="-0.28" direction="cw" />
    <xacro:rotor name="rear_left" x="-0.28" y="0.28" direction="cw" />
    <xacro:rotor name="rear_right" x="-0.28" y="-0.28" direction="ccw" />

</robot>
