<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="rotor" params="name x y direction">
        <link name="${name}_arm_link">
            <visual>
                <origin xyz="${x / 2.0} ${y / 2.0} 0" rpy="0 0 ${atan2(y, x)}" />
                <geometry>
                    <box size="${sqrt(x*x + y*y)} 0.035 0.035" />
                </geometry>
                <material name="aeroops_gray" />
            </visual>

            <collision>
                <origin xyz="${x / 2.0} ${y / 2.0} 0" rpy="0 0 ${atan2(y, x)}" />
                <geometry>
                    <box size="${sqrt(x*x + y*y)} 0.035 0.035" />
                </geometry>
            </collision>

            <xacro:box_inertial mass="0.08" x="${sqrt(x*x + y*y)}" y="0.035" z="0.035" />
        </link>

        <joint name="${name}_arm_joint" type="fixed">
            <parent link="base_link" />
            <child link="${name}_arm_link" />
            <origin xyz="0 0 0" rpy="0 0 0" />
        </joint>

        <link name="${name}_rotor_link">
            <visual>
                <origin xyz="0 0 0.025" rpy="0 0 0" />
                <geometry>
                    <cylinder radius="0.11" length="0.018" />
                </geometry>
                <material name="aeroops_dark" />
            </visual>

            <collision>
                <origin xyz="0 0 0.025" rpy="0 0 0" />
                <geometry>
                    <cylinder radius="0.11" length="0.018" />
                </geometry>
            </collision>

            <xacro:cylinder_inertial mass="0.04" radius="0.11" length="0.018" />
        </link>

        <joint name="${name}_rotor_joint" type="fixed">
            <parent link="base_link" />
            <child link="${name}_rotor_link" />
            <origin xyz="${x} ${y} 0.03" rpy="0 0 0" />
        </joint>
    </xacro:macro>

</robot>